@page "/contact"

<PageTitle>About</PageTitle>

<MudText Typo="Typo.h6" Class="ml-1 mt-2 mb-2">You can contact us by clicking on following link</MudText>

<MudText Typo="Typo.body1" Class="ml-3 mt-4">
    <MudLink Href="mailto:support@tanolis.us">📩 Contact us today to schedule a free consultation.</MudLink>
</MudText>

<MudText Typo="Typo.h6" Class="ml-1 mt-5 mb-2">
    🚧 Page Under Construction
    <p class="lead mt-3">
        We're working hard to bring you this feature. Please check back soon!
    </p>
</MudText>

<MudNavLink Href="/" Match="NavLinkMatch.All" Class="link-danger mt-4 mb-4">Back to Home</MudNavLink>

